@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible";
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("Atkinson-Hyperlegible-Regular-102.woff")
    format('woff');
    font-display: swap;
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("Atkinson-Hyperlegible-Bold-102.woff")
    format('woff');
    font-weight: bold;
    font-display: swap;
}
/* Default styles */
body {
    color: #000000;
    background-color: #B9B9B9;
    margin: 0px;
    
    display: grid;
    gap: 10px;
}
a {
    color: #000085;
    &:visited {
        color: #450045;
    }
}
.info {
    background-color: rgba(0, 102, 0, 0.1);
    padding: 18px;
    border-radius: 9px;
    margin: 18px;
}
.info h2 {
    border-bottom: 1px solid #000000;
    padding-bottom: 9px;
}
#events-table {
    border-collapse: collapse;   
} 
#events-table th, 
#events-table td {
    border: 1px solid #000000;
    padding: 0.5em;
}
/* Dark mode styles */
body.dark-scheme {
    color: #f1f1f1;
    background-color: #1f1f1f;
}
a.dark-scheme {
    color: #00b4ff;
    &:visited {
        color: #ff81ff;
    }
}
.info.dark-scheme {
    background-color: rgba(0, 72, 0, 0.3);
}
.info h2.dark-scheme {
    border-bottom: 1px solid #f1f1f1;
}
#events-table th.dark-scheme, 
#events-table td.dark-scheme {
    border: 1px solid #f1f1f1;
}
#scheme-toggle-button {
    border: 2px solid #1f1f1f;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    margin: 18px;
    cursor: pointer;
}
#scheme-toggle-button.dark-scheme {
    border: 2px solid #f1f1f1;
}
#scheme-toggle-symbol {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #999999;
    background-color: #ffffff !important;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 1rem;
}
#scheme-toggle-symbol-L {
    background-color: #000000 !important;
    width: 8px;
    height: 16px;
    border-radius: 8px 0px 0px 8px;
    margin: 0px;
}
#scheme-toggle-text {
    display: inline;
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 1rem;
}
/* Main header styles */
#main-header {
    background: url("header-bg-light.jpg") bottom left no-repeat;
    /* Background sizing idea borrowed from https://stackoverflow.com/a/19945042 */
    background-size: cover;
}
#main-header.dark-scheme {
    background: url("header-bg-dark.jpg") bottom left no-repeat;
    /* Background sizing idea borrowed from https://stackoverflow.com/a/19945042 */
    background-size: cover;
}
#main-header-text {
    font-size: 6vmin;
    color: #00b4ff;
    font-weight: bold;
    margin-left: 3vmin;
}
/* Sidebar styles */
#sidebar {
    padding: 10px;
    margin: 18px;
}
/* Main footer styles */
#main-footer {
    text-align: center;
    font-size: 1rem;
}
/* Responsive body width and grid styles */
@media only screen and (max-width:779px) {
    body {
        grid-template-rows: 12vh 1fr 0.1fr 10vh;
        grid-template-columns: 100%;
    }
    #main-header {
        line-height: 10vh;
        text-shadow: #000000 2px 2px 2px;
        
        grid-column: 1;
    }
    #main-section {
        grid-row: 2;
        grid-column: 1;
    }
    #sidebar {
        grid-row: 3;
        grid-column: 1;
    }
    #main-footer {
        grid-row: 4;
        grid-column: 1;
    }
}
@media only screen and (min-width:780px) {
    body {
        grid-template-rows: 18vh 1fr 0.1fr 10vh;
        grid-template-columns: repeat(3, 1fr);
    }
    #main-header {
        line-height: 15vh;
        text-shadow: #000000 3px 3px 3px;

        grid-column: 1 / span 3;
    }
    #main-section {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #sidebar {
        grid-row-start: 2;
        grid-row-end: span 2;
    }
    #main-footer {
        grid-column: 1 / span 3;
    }
}
