@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
/* Default styles */
body {
    color: #000000;
    background-color: #B9B9B9;
    margin: 0px;
    
    display: grid;
    gap: 10px;
}
a {
    color: #000085;
    &:visited {
        color: #450045;
    }
}
.info {
    background-color: rgba(0, 102, 0, 0.1);
    padding: 18px;
    border-radius: 9px;
    margin: 18px;
}
.info h2 {
    /* text-shadow: #a0a0a0 3px 3px 3px; */
}
/* Dark mode styles */
body.dark-scheme {
    color: #F1F1F1;
    background-color: #1F1F1F;
}
a.dark-scheme {
    color: #00b4ff;
    &:visited {
        color: #ff81ff;
    }
}
.info.dark-scheme {
    background-color: rgba(0, 72, 0, 0.3);
}
.info h2.dark-scheme {
    /* text-shadow: #090909 3px 3px 3px; */
}
#scheme-toggle-button {
    border: 2px solid #1F1F1F;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    margin: 18px;
}
#scheme-toggle-button.dark-scheme {
    border: 2px solid #F1F1F1;
}
#scheme-toggle-symbol {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #999999;
    background-color: #ffffff !important;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 10px;
}
#scheme-toggle-symbol-L {
    background-color: #000000 !important;
    width: 8px;
    height: 16px;
    border-radius: 8px 0px 0px 8px;
    margin: 0px;
}
#scheme-toggle-text {
    display: inline;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
/* Main header styles */
#main-header {
    background-color: #006600;
    color: #ffff00;
    font-weight: bold;
    line-height: 72px;
    text-shadow: #090909 5px 5px 5px;

    grid-row: 1;
}
#main-header-text {
    /* Style for central alignment depending on background image */
    /* width: 100%; */
    /* text-align: center; */
    /* Style for left alignment depending on background image */
    margin-left: 18px;
}
#mode-switch {
    font-family: 'Segoe UI Emoji Regular';
    cursor: pointer;
    
    grid-column: 3;
}
/* Main section styles */
#main-section {
    padding: 10px;
}
/* Sidebar styles */
#sidebar {
    padding: 10px;
}
/* Main footer styles */
#main-footer {
    text-align: center;
    font-size: 18pt;
}
/* Responsive header styles */
@media only screen and (max-width:299px) {
    #main-header {
        font-size: 1rem;
    }   
}
@media only screen and (min-width:300px) {
    #main-header {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width:480px) {
    #main-header {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width:620px) {
    #main-header {
        font-size: 2rem;
    }
}
/* Responsive body width and grid styles */
@media only screen and (max-width:779px) {
    body {
        /* width: 100%; */

        grid-template-rows: 72px 1fr 0.1fr 0.05fr;
        grid-template-columns: 100%;
    }
    #main-header {
        grid-column: 1;
    }
    #main-section {
        grid-row: 2;
        grid-column: 1;
    }
    #sidebar {
        grid-row: 3;
        grid-column: 1;
    }
    #main-footer {
        grid-row: 4;
        grid-column: 1;
    }
}
@media only screen and (min-width:780px) {
    body {
        /* width: 90%; */
        /* margin: auto; */
        
        grid-template-rows: 72px 1fr 0.1fr 0.05fr;
        grid-template-columns: repeat(3, 1fr);
    }
    #main-header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #main-section {
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #sidebar {
        grid-row-start: 2;
        grid-row-end: span 2;
    }
    #main-footer {
        grid-column: 1 / span 3;
    }
}