@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    --sts-diameter: 1.25rem;
    --stsb-thickness: calc(var(--sts-diameter) / 10);
}
/* Default scheme styles */
body {
    margin: 0px;
    color: #000000;
    background-color: #b9b9b9;
}
header, footer {
    text-align: center;
}
a {
    color: #000085;
    &:visited {
        color: #450045;
    }
}
/* Main header styles */
#mainHeader {
    color: #ffffff;
    background-color: #0000ff;
    padding-bottom: 1px;
    margin-bottom: 3rem;
}
#mainHeaderText {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Table styles */
table {
    border-collapse: collapse;
    border: none;
    margin: 1rem auto;
}
th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
}
th {
    border-bottom: 1px solid #000000;
    font-style: italic;
    letter-spacing: 0.15rem;
    text-align: left;
    text-transform: uppercase;
}
th h3 {
    margin-bottom: 0px;
}
/* Dark scheme styles */
body.dark-scheme {
    color: #f1f1f1;
    background-color: #1f1f1f;
}
a.dark-scheme {
    color: #00b4ff;
    &:visited {
        color: #ff81ff;
    }
}
th.dark-scheme {
    border-bottom: 1px solid #f1f1f1;
}
/* Scheme toggle button styles */
#scheme-toggle-button {
    border: 3px solid #1f1f1f;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    margin: 1.125rem auto;
    cursor: pointer;
}
#scheme-toggle-button.dark-scheme {
    border: 3px solid #f1f1f1;
}
#scheme-toggle-symbol {
    display: inline-block;
    vertical-align: middle;
    border: var(--stsb-thickness) solid #999999;
    background-color: #ffffff !important;
    width: var(--sts-diameter);
    height: var(--sts-diameter);
    border-radius: calc(var(--sts-diameter) / 2);
    margin: 1rem;
}
#scheme-toggle-symbol-L {
    --stsl-height: calc(var(--sts-diameter) - (var(--stsb-thickness) * 2));
    --stsl-width: calc(var(--stsl-height) / 2);
    background-color: #000000 !important;
    width: var(--stsl-width);
    height: var(--stsl-height);
    border-radius: var(--stsl-width) 0px 0px var(--stsl-width);
    margin: 0px;
}
#scheme-toggle-text {
    display: inline;
    vertical-align: middle;
    margin-right: 1rem;
}