@charset "UTF-8";

/* General styles and default scheme */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
body {
    margin: 0px;
    color: #000000;
    background-color: #b9b9b9;
}
header, footer {
    text-align: center;
}
a {
    color: #000085;
    &:visited {
        color: #450045;
    }
}
#mainHeader {
    color: #ffffff;
    background-color: #0000ff;
    padding-bottom: 1px;
}
#mainHeaderText {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Dark scheme styles */
body.dark-scheme {
    color: #f1f1f1;
    background-color: #1f1f1f;
}
a.dark-scheme {
    color: #00b4ff;
    &:visited {
        color: #ff81ff;
    }
}
th.dark-scheme {
    border-bottom: 1px solid #f1f1f1;
}
/* Scheme toggle button styles */
#scheme-toggle-button {
    border: 2px solid #1f1f1f;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
#scheme-toggle-button.dark-scheme {
    border: 2px solid #f1f1f1;
}
#scheme-toggle-symbol {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #999999;
    background-color: #ffffff !important;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 1rem;
}
#scheme-toggle-symbol-L {
    background-color: #000000 !important;
    width: 8px;
    height: 16px;
    border-radius: 8px 0px 0px 8px;
    margin: 0px;
}
#scheme-toggle-text {
    display: inline;
    vertical-align: middle;
    font-size: 1rem;
    margin-right: 1rem;
}
/* Table styles */
table {
    border-collapse: collapse;
    border: none;
    margin: 1em auto;
}
th, td {
    padding: 0.3rem 0.5rem;
}
th {
    padding-top: 2rem;
    border-bottom: 1px solid #000000;
    font-style: italic;
    letter-spacing: 0.1rem;
    text-align: left;
    text-transform: uppercase;
}