@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    --sts-diameter: 1.25rem;
    --stsb-thickness: calc(var(--sts-diameter) / 10);
}
/* Colors tested at https://webaim.org/resources/linkcontrastchecker/?fcolor=000000&bcolor=D1D1D1&lcolor=3333FD 
and
https://webaim.org/resources/linkcontrastchecker/?fcolor=F1F1F1&bcolor=1F1F1F&lcolor=0090E9
*/
body {
    color: light-dark(#000000, #f1f1f1);
    background-color: light-dark(#d1d1d1, #1f1f1f);
    margin: 0px;
}
.centered {
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
}
.strong {
    font-weight: bold;
}
#scheme-selector {
    padding: 0.25rem;
}
a {
    text-underline-offset: 0.4em;
    &:link {
        color: light-dark(#3333fd, #0090e9);
    }
    &:visited {
        color: light-dark(#a000a0, #f000f0);
    }
    &:hover {
        color: light-dark(#8d4700, #bd7b00);
    }
    &:active {
        color: light-dark(#006833, #009e00);
    }
}
/* Main header styles */
#main-header {
    color: #ffffff;
    background-color: #0000ff;
    margin-bottom: 3rem;
    text-align: center;
}
#main-header-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Table styles */
table {
    border-collapse: collapse;
    border: none;
    margin: 1rem auto;
}
th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
}
th {
    border-bottom: 1px solid light-dark(#000000, #f1f1f1);
    font-style: italic;
    letter-spacing: 0.15rem;
    text-align: left;
    text-transform: uppercase;
}
th h2 {
    margin-bottom: 0px;
}
td {
    line-height: 2em;
}