@charset "UTF-8";
*
{
    font-family: Consolas, monospace;
    margin-top: 1rem;
    --custom-gold: #ffd700;
}
body
{
    background-color: #000040;
    margin: 2rem;
}
noscript
{
    background-color: #800000;
    color: #f1f1f1;
    font-size: x-large;
    padding: 0.5rem;
    animation-name: warning;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes warning
{
    0% {background-color: #800000; color: #f1f1f1;}
    50% {background-color: #CC0000; color: #ffffff;}
    100% {background-color: #800000; color: #f1f1f1;}
}
noscript::before
{
    content: "\26A0";
    font-size: xx-large;
    padding-right: 0.75rem;
    padding-left: 0.5rem;
    position: relative;
    top: 0.25rem;
}
h1, label
{
    color: #f1f1f1;
    font-weight: bold;
}
main
{
    max-width: 75%;
}
label
{
    margin-right: 1rem;
}
input
{
    background-color: #222222;
    border: 2px solid var(--custom-gold);
    border-radius: 9px;
    color: var(--custom-gold);
    padding: 0.5rem;
    width: 80%;
    min-width: -moz-fit-content;
    min-width: fit-content;
}
input#indentation
{
    min-width: 4rem;
    max-width: 4rem;
}
label, input
{
    font-size: large;
}
button
{
    background-color: var(--custom-gold);
    color: #000040;
    border: none;
    border-radius: 9px;
    font-size: large;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
    margin: 1rem;
}
#output
{
    color: var(--custom-gold);
    font-size: large;
}
.extraTopMargin
{
    margin-top: 3rem;
}