*
{
    font-family: Consolas, monospace;
    margin-top: 10px;
}
body
{
    background-color: #000040;
}
h1
{
    margin-left: 1rem;
}
h1, label
{
    color: #f1f1f1;
    font-weight: bold;
}
label
{
    display: inline-block;
    width: 20rem;
    text-align: right;
    padding: 6px;
    vertical-align: top;
}
input
{
    background-color: #555555;
    border: none;
    border-radius: 9px;
    color: #fbdc13;
    padding: 6px;
    width: 20rem;
}
#indentation
{
    width: 8rem;
    /* display: block; */
}
label, input
{
    font-size: large;
}
button
{
    background-color: #ffd700;
    color: #000040;
    border: none;
    border-radius: 9px;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 9px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
}
#output
{
    color: #ffd700;
    font-size: x-large;
    margin: 3rem;
}