@charset "UTF-8";

/* Default scheme */
body {
    color: #000000;
    background-color: #FFFFFF;
}
a {
    color: #0000CC;
    &:visited {
        color: #CC00CC;
    }
}
/* Dark scheme */
body.dark-scheme {
    color: #FFFFFF;
    background-color: #000000;
}
a.dark-scheme {
    color: #00FFFF;
    &:visited {
        color: #FF00FF;
    }
}