@charset "UTF-8";
/* Site-wide styles */
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    --sts-diameter: 1.25rem;
    --stsb-thickness: calc(var(--sts-diameter) / 10);
}
/* Default scheme styles */
/* Colors tested at https://webaim.org/resources/linkcontrastchecker/?fcolor=000000&bcolor=D1D1D1&lcolor=3333FD */
body {
    color: #000000;
    background-color: #d1d1d1;
    margin: 2rem;
}
a {
    text-underline-offset: 0.4em;
    &:link {
        color: #3333fd;
    }
    &:visited {
        color: #a000a0;
    }
    &:hover {
        color: #8d4700;
    }
    &:active {
        color: #006833;
    }
}
#test-link {
    text-align: center;
    margin: 1rem;
}
/* Dark scheme styles */
/* Colors tested at https://webaim.org/resources/linkcontrastchecker/?fcolor=F1F1F1&bcolor=1F1F1F&lcolor=0090E9 */
body.dark-scheme {
    color: #f1f1f1;
    background-color: #1f1f1f;
}
a.dark-scheme {
    &:link {
        color: #0090e9;
    }
    &:visited {
        color: #f000f0;
    }
    &:hover {
        color: #bd7b00;
    }
    &:active {
        color: #009e00;
    }
}
/* Scheme toggle button styles */
#scheme-toggle-button {
    border: 3px solid #000000;
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    margin: 1.125rem auto;
    cursor: pointer;
}
#scheme-toggle-button.dark-scheme {
    border: 3px solid #f1f1f1;
}
#scheme-toggle-symbol {
    display: inline-block;
    vertical-align: middle;
    border: var(--stsb-thickness) solid #999999;
    background-color: #ffffff !important;
    width: var(--sts-diameter);
    height: var(--sts-diameter);
    border-radius: calc(var(--sts-diameter) / 2);
    margin: 1rem;
}
#scheme-toggle-symbol-L {
    --stsl-height: calc(var(--sts-diameter) - (var(--stsb-thickness) * 2));
    --stsl-width: calc(var(--stsl-height) / 2);
    background-color: #000000 !important;
    width: var(--stsl-width);
    height: var(--stsl-height);
    border-radius: var(--stsl-width) 0px 0px var(--stsl-width);
    margin: 0px;
}
#scheme-toggle-text {
    display: inline;
    vertical-align: middle;
    margin-right: 1rem;
}
